
.panel-container{
    background-color:black;
    height: 4.5em;
    width: 100%;
}

.button{
    height: 2.4em;
    width: 6em;
    text-align: center;
}

.search-bar{
    width: 350px;
    float: right;
    padding-top: 1em;
}
.home-button{
    float: left;
    padding-top: 1em;
    padding-left: 1em;
}
.home-button2{
    background-color: black;
    border-color: black;
}